USE [Neudesic]
GO
/****** Object:  StoredProcedure [dbo].[Dept_Table]    Script Date: 05-08-2013 10.01.01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Dept_Table]
 AS
 BEGIN
CREATE TABLE DEPARTMENT
(
[ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
DEPT_CODE INT NOT NULL,
DEPT_NAME VARCHAR(10),
)
END